/* Global */


img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

body{
    border-top:0;
    background:#c4e17f;

}

.home-page h1{
    margin-bottom: 20px;
    margin-left: 55px;
}

.title-link{
    font-size: 14px;
    font-style: italic;
    margin-left: 3px;
}
a.refresh{
    float: right;
    margin: 16px;
}

.section-refresh{
    font-size: 16px;
    margin-left: 10px;
}

.thumbnails li> .fff .caption {
    background:#fff !important;
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails {
    margin-bottom: 0px;
}



/* Thumbnail Box */
.thumbnail{
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}
.thumbnail a>img{
    max-height: 300px;
    min-height: 128px;
    width: 100%;
}
.mangas .thumbnail a>img{
    max-height: 128px;
}
.thumbnails li> .fff .caption {
    padding: 1px 15px;
    height: 136px;
}
.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}

.favicon {
    height: 16px;
    width: 16px;
}
.title .favicon{
    margin: 1px 5px 0px 0px;
    float: left;
}

.favicon-clone{
    position: absolute;
    bottom: 10px;
}
.favicon-clone .favicon{
    margin: 0 2px;
}

/* Movies */
.detail-items .item .thumbnails li{
    margin-bottom: 50px;
}

/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

/* Imdb rating */
.imdb-rating{
    position: absolute;
    right: 22px;
    bottom: 6px;
    background-color: white;
    padding: 3px;
}
.imdb-rating a{
    color: black;
}
.imdb-rating a:hover{
    text-decoration: none;
}
.imdb-rating img{
    margin-right: 5px;
}
.imdb-rating span{
    font-size: 12px;;
}
.imdb-rating span b{
    font-size: 14px;
}


/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    margin: 80px 15%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}